.header__nav__btn {
  width: 35px;
  height: 35px;
  background: none;
  border: none;
  display: none;
}

.header__nav__btn--device {
  display: block;
}

.header__nav__btn span {
  display: block;
  width: 35px;
  height: 2px;
  border-radius: 3px;
  background-color: #000;
  position: relative;
}

.header__nav__btn span::before,
.header__nav__btn span::after {
  content: '';
  display: block;
  width: 35px;
  height: 2px;
  border-radius: 3px;
  background-color: #000;
  position: absolute;
}

.header__nav__btn span::before {
  top: -10px;
}

.header__nav__btn span::after {
  bottom: -10px;
}

/************** Menu ***************/
.header__nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header__nav__item {
  margin-right: 10px;
}

.header__nav__item:last-child {
  margin-right: 0;
}

.header__nav__item a {
  font-size: 16px;
  color: #fff;
  padding: 10px 15px;
}

.header__nav__item a:hover {
  background-color: #45ABBF;
  text-decoration: none;
  color: #fff;
}

.header__nav__item--active > a {
  background-color: #45ABBF;
}

/****************** Header user *****************/
.header__user {
  display: flex;
  align-items: center;
}

.header__user__pic {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.header__user__name {
  margin: 0;
}